// --- border-radius ---
$border-radius-xs: 0.2rem;
$border-radius-s: 0.5rem;
$border-radius-m: 1rem;
$border-radius-l: 2rem;
$border-radius-xxl: 10rem;

// --- border-width ---
$border-width-s: 1px;
$border-width-m: 2px;

// --- input border radius ---
$input-border-radius: $border-radius-l;
$input-border-color: $shadow-m;

// --- focus outline ---
$focus-outline: 1px solid $color-accent;
$focus-outline-offset: 2px;
