$breakpoint-mobile: 600px;
$breakpoint-tablet: 1280px;

:root {
  --breakpoint-mobile: #{$breakpoint-mobile};
  --breakpoint-tablet: #{$breakpoint-tablet};
}

$breakpoints: (
  mobile: '(max-width: #{$breakpoint-mobile})',
  tablet: '(max-width: #{$breakpoint-tablet})',
  tablet-only: '(min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet})',
  desktop: '(min-width: #{$breakpoint-tablet})',
);

@mixin respond-to($device) {
  @if map-has-key($breakpoints, $device) {
    @media #{map-get($breakpoints, $device)} {
      @content;
    }
  } @else {
    @error "Breakpoint `#{$device}` not found in `$breakpoints` map.";
  }
}
