$color-primary: #333333;
$color-secondary: #f9f9f9;
$color-accent: #ffbf00;

/*
•	Bordeaux : #800020
•	Or : #FFD700
•	Ambre : #FFBF00
•	Rouge cerise : #D2042D
Bleu nuit : #001F54
	•	Bleu pétrole : #004953
	•	Teal : #008080
  •	Vert émeraude : #50C878
	•	Orange brûlé : #CC5500
	•	Terracotta : #E2725B

  */
