$color-primary: #333333;
$color-secondary: #f9f9f9;
$color-accent: #ffbf00;

$color-subtext: #666;

$color-error: #ff4d4f;

$shadow-s: rgba(20, 20, 0, 0.1);
$shadow-m: rgba(20, 20, 0, 0.2);
$shadow-l: rgba(20, 20, 0, 0.3);
$modal-overlay: rgba(0, 0, 0, 0.8);

$color-white: #fff;

$color-booked: red;
$color-option: orange;
$color-available: #28a745;
