// Utilisation : Couleur principale pour les éléments clés (boutons, titres, accents).
$color-primary: #6d1b3b;

// Utilisation : Pour les détails subtils (icônes, survol, micro-interactions).
$color-details: #d9a441;

// Utilisation : Couleur secondaire pour les arrière-plans sombres ou le texte contrasté.
$color-dark: #14213d;

// Utilisation : Couleur de fond pour les éléments principaux (cartes, sections).
$color-light: #f4ede0;

// Utilisation : Couleur de fond pour les éléments secondaires (bordures, arrière-plans).
$color-secondary: #e5e5e5;

// Couleurs complémentaires et accents

// Utilisation : Accent léger pour une touche festive et conviviale.
$color-accent-1: #f7cac9;

// Utilisation : Texte principal, contraste avec les fonds clairs.
$color-text: #3c3c3c;

// Utilisation : Texte ou éléments sur les arrière-plans sombres.
$color-white: #ffffff;

// Utilisation : Contraste fort pour des éléments de navigation ou d’interaction.
$color-black: #000000;
