:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1rem;
  font-weight: 400;

  color: $color-text;
  background-color: $color-secondary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}
