:root {
  display: flex;
  height: 100%;

  font-family: 'Poppins', sans-serif;
  line-height: $line-height-m;
  font-weight: 400;

  color: $color-primary;
  background-color: $color-secondary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
}

body {
  flex: 1;
  margin: 0;
  display: flex;
  svg {
    width: 100%;
    height: 100%;
  }
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

*:focus {
  outline: 2px solid $color-accent; /* Définit un contour bleu personnalisé */
  outline-offset: 2px; /* Ajoute un espacement pour plus de clarté */
}
